body {
    /*no se repita/ centrado h/ centrado v/ tamaño se ajuste*/
    background: black no-repeat center center fixed;
    /*ripo portada/ */
    background-size: cover;
  }
  
  .main-section {
    margin: 0 auto;
    margin-top: 25%;
    padding: 0;
  }
  
  .modal-content {
    background-color: #3b4652;
    opacity: 0.9;
    padding: 0px 20px;
    box-shadow: 0px 0px 3px #848484;
    border-radius: 20px;
  }
    
  .form-group input {
    height: 42px;
    font-size: 18px;
    border: 0;
    padding-left: 50px;
    border-radius: 20px;
  }
  
  .form-group::before {
    font-family: "FontAwesome";
    position: absolute;
    left: 25px;
    font-size: 22px;
    padding: 4px;
  }
  
  button {
    width: 60%;
    margin: 5px 0 25px;
  }
  
  .forgot {
    padding: 5px 0;
  }
  
  .forgot a {
    color: white;
  }

  #sala-name{
      padding-top: 20px;
  }
  