/*---------------------- global  -------------------------*/
body {
  background: url(../img/fondoHome.webp) no-repeat center center fixed;
  background-size: cover;
}

#canvas {
  display: block;
}

.column {
  float: left;
}
.left {
  width: 28%;
}

.right {
  width: 72%;
}

#heart{
  width: 30px; 
  height: 30px; 
  
  margin-left: 45%;
}

.imagen{
  width: 50px; 
  height: 50px; 
  margin-top: 30%;
  margin-left: 35%;
}

#vida{
  margin-top: 6%;
}

#kills{
  margin-top: 11%;
}

#muertes{
  margin-top: 10%;
}

#puntos{
  margin-top: 11%;
}

#bandera{
  width: 30px; 
  height: 30px; 
  margin-left: 42%;
}